.optionsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 90%;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  z-index: 1000;
}

.optionsTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 0px;
  margin: 0px;
}

.optionsMenuCloseIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border-radius: 5px;
}

.optionsMenuCloseIcon:hover {
  background-color: var(--primary);
  color: black;
}

.radioContainer {
  display: flex;
  flex-direction: column;
}

.optionsContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4em;
}

.column {
  width: 50%;
}

.leftColumn {
  overflow-y: auto;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-right: 2vh;
}

.optionLabel {
}

.buttonDiv {
  background-color: var(--primary);
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 8vh;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid var(--primary);
  flex-basis: auto;
  padding: 0vh 1vh;
  margin-bottom: 1vh;
}

.buttonDiv:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.buttonDiv:hover {
  background-color: black;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
