.pitchOverlay {
  /* user-select: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  pointer-events: none;
}

.pitchBackground {
  background-image: url('../../../../../img/symbols/symbol-resource.png');
  background-position: center;
  background-size: contain;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pitchValue {
  text-align: center;
  font-size: 1.75em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-bottom: 1px;
}
