.gameBoard {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.opponentPlaymat {
  position: absolute;
  top: 50px;
  height: 330px;
  width: 1055px;
  border-radius: 10px;
  padding: 10px;
  background-image: url('https://source.unsplash.com/random');
  background-repeat: no-repeat;
  background-size: cover;
}

.combatChain {
  position: absolute;
  top: 400px;
  height: 140px;
  width: 1055px;
  padding: 10px;
  background-image: url('https://source.unsplash.com/random/1920x1080');
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0px 5px 0px;
  color: white;
}

.playerPlaymat {
  position: absolute;
  top: 570px;
  height: 330px;
  width: 1055px;
  border-radius: 10px;
  padding: 10px;
  background-image: url('https://source.unsplash.com/random/1024x768');
  background-repeat: no-repeat;
  background-size: auto;
  background-size: cover;
}

/* .playerBoard {
  display: flex;
  flex-flow: column nowrap;
  height: 30vh;
  gap: 10px;
} */
