.leftColumn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  order: 1;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
  max-width: 10%;
  height: 100vh;
}
