.rightColumn {
  order: 3;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background-color: red;
}
