.topRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}

.middleRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: stretch;
}
