.passTurnDisplay {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
}

.passTurnDisplayActive {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
}
.passTurnDisplayActive:hover {
  cursor: pointer;
}
