.passTurnDisplay {
  font-size: 1.5rem;
  text-shadow: 0 0 5 rgb(0, 255, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
}

.passTurnDisplayActive {
  text-shadow: 0 0 5 rgb(0, 255, 38);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
}
.passTurnDisplayActive:hover {
  cursor: pointer;
  font-size: 2.5rem;
}

.subThing {
 font-size: 1rem;
}
