.passTurnDisplay {
  position: absolute;
  top: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
}

.passTurnDisplayActive {
  position: absolute;
  top: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
}
.passTurnDisplayActive:hover {
  cursor: pointer;
}
