
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  min-width: 0px;
  grid-area: chat;
  height: calc(100dvh - 440px);
}