
.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  min-width: 0px;
  grid-area: chat;
  height: calc(100dvh - 440px);
}

td {
  padding:4px;
}

.red {
  color:#ff3333;
}

.yellow {
  color:yellow;
}

.blue {
  color:cyan;
}