.cardDetailContainer {
  display: none;
  position: fixed;
  z-index: 1000;
  box-shadow: 3px 3px 5px black;
  border-radius: 7%;
  pointer-events: none;
  will-change: left, top;
}

.cardDetailContainer img {
  max-height: 50vh;
  max-width: 500px;
  display: block;
  width: 100%;
  height: auto;
}
