.permanentsWrapper {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  flex: 0 1 100%;
  border-radius: 0.5em;
  gap: 1vh;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  grid-area: permanents;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
}

.permanentsZone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 1vh;
  align-content: flex-start;
  flex-wrap: nowrap;
}

.permanentsText {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permanentsZone::-webkit-scrollbar {
  display: none;
}

.counter {
  position: absolute;
  background-color: black;
  z-index: 10;
  top: 1.5em;
  height: 2em;
  left: -0.75em;
  min-width: 2em;
  width: auto;
  background-color: var(--near-black);
  border: var(--primary) solid 1px;
  color: var(--white);
  border-radius: 5px;
  font-size: max(8px, 0.75em);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35em;
}

.cardContainer {
  display: block;
  position: relative;
  aspect-ratio: 1;
  min-width: var(--card-size);
}

@media (orientation: portrait) {
  .cardContainer {
    min-width: 0;
  }
}

.stacked {
  display: block;
  aspect-ratio: 1;
}

.stacked:first-child {
  margin-left: 1em;
}
