.permanentsWrapper {
  position: relative;
  overflow-x: clip;
  flex: 0 1 100%;
  min-width: 0;
  border-radius: 10px;
  gap: 1vh;
  background: rgba(50, 50, 50, 0.5);
  color: white;
  width: 100%;
  height: 100%;
  grid-area: permanents;
}

.permanentsZone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -10px;
  padding-bottom: 10px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: flex-start;
  gap: 1vh;
  align-content: flex-start;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.permanentsText {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permanentsZone::-webkit-scrollbar {
  display: none;
}

.counter {
  position: absolute;
  background-color: black;
  z-index: 10;
  top: 1.5em;
  height: 2em;
  left: -0.75em;
  min-width: 2em;
  width: auto;
  background-color: rgba(0, 0, 0, 0.9);
  border: goldenrod solid 1px;
  color: gold;
  border-radius: 5px;
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.35em;
}

.cardContainer {
  position: relative;
}

.stacked {
  margin-left: 0.5em;
}
