.pitchZone {
  position: relative;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--theme-zone-placeholder);
  color: var(--white);
  grid-area: pitch;
  min-width: 100%;
  min-height: 100%;
  isolation: isolate;
}

.pitchCard {
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}
