.pitchZone {
  position: relative;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  grid-area: pitch;
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
  isolation: isolate;
}

.pitchCard {
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
}
