.deckZone {
  width: 100%;
  height: 100%;
  right: 0px;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  grid-area: deck;
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}
