:root {
  --aspect: 1920px;
}

html,
body {
  color: var(--white);
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.5vh;
  font-size: 1.5dvh;
}

.centering {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) {
  .app {
    height: 100%;
    width: 100%;
    max-width: var(--aspect);
  }
}

@media (orientation: portrait) {
  .app {
    aspect-ratio: 16/9;
  }
}

.app {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
}

.gameZone {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  order: 2;
  width: 100%;
}

.cardStackZone {
  width: 90%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permanentZone {
  grid-column-start: 2;
  grid-column-end: 7;
  background: rgba(50, 50, 50, 0.5);
  color: var(--color);
}

.arsenalZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: var(--color);
}

.graveyardZone,
.banishedZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: var(--color);
}

.pitchZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: var(--color);
}

.deckZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: var(--color);
}

.defaultToast {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 12px;
  color: var(--primary);
}
