.optionsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 90%;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  z-index: 1000;
}

.optionsTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}

.title {
  padding: 0px;
  margin: 0px;
}

.optionsMenuCloseIcon {
  display: flex;
  color: var(--primary);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border-radius: 5px;
}

.optionsMenuCloseIcon:hover {
  background-color: var(--primary);
  color: var(--primary-inverse);
}

.radioContainer {
  display: flex;
  flex-direction: column;
}

.optionsContentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4em;
  overflow-y: auto;
}

.column {
  width: 50%;
}

.buttonColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 2vh;
}

.alarm {
  color: var(--alarm);
  text-align: center;
}

.buttonDiv {
  width: 75%;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.column h3 {
  margin: 0.5em 0;
}

.cardBackListContainer {
  width: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: baseline;
  gap: 10px;
  padding-left: 5px;
}

.cardBack {
  border-radius: 10px;
  margin-top: 0.5em;
  height: 120px;
  width: 120px;
  max-height: 120px;
  filter: brightness(0.65);
  transition: filter 0.25s, box-shadow 0.25s;
}

.selected {
  box-shadow: 0 0 0 0.2em var(--primary);
  filter: brightness(1);
}

.card {
  height: 10dvh;
  width: 10dvh;
}
