.playerPrompt {
  background-color: #fffdd0;
  border: 1px solid #004225;
  color: #004225;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
  flex-wrap: nowrap;
  font-size: 1em;
  font-weight: 600;
  padding: 8px;
  flex-direction: row;
  overflow-x: min-content;
  gap: 0.2em;
}

.content {
  display: flex;
  align-items: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.buttonDiv {
  background-color: #004225;
  color: #fffdd0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 4vh;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  flex-basis: auto;
  padding: 0 1dvh;
  margin-left: 1dvh;
}

.buttonDiv:hover {
  background-color: #fffdd0;
  color: #004225;
  border: 1px solid #004225;
  cursor: pointer;
}

@media (min-width: 1250px) {
  .playerPrompt {
    font-size: 1.5em;
    font-weight: 600;
  }
}

@media (orientation: portrait) {
  .playerPrompt {
    top: 10px;
  }
}
