.activeLayersContents {
  padding: 0.5em;
  gap: 1vh;
  overflow-x: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.activeLayersContents > div {
  flex-basis: 14dvh;
  max-height: 14dvh;
}

.activeLayersContents > li {
  max-width: 14dvh;
  color: rgba(0, 0, 0, 0);
}

.activeLayersContents > li ::marker {
  visibility: none;
}
