.glovesZone {
  border-radius: 0.5em;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: gloves;
  min-width: 100%;
  min-height: 100%;
}
