.glovesZone {
  border-radius: 0.5em;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: gloves;
  font-size: 16px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}
