.matchupContainer {
  margin: 0 auto;
  height: auto;
  display: flex;
  max-width: 200px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: auto;
  grid-area: matchups;
  overflow-x: hidden;
}

.matchups {
  width: 100%;
}

.matchups:hover {
  width: 110%;
  transition: width .1s;
  -webkit-transition: width .1s; /* Safari */
}