.actionPointDisplay {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.actionPointCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2em;
  width: 2.2em;
  background-image: url('../../../../../img/elements/turnwidget/turnWidget-ActionPoint.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
}

.manualMode {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -40px;
  bottom: -40px;
  z-index: 999;
}

.drawButton {
  padding: 2px 10px;
  margin: 0;
}
