.stickyFooter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--card-background-color);
  --sticky-footer-height: auto;
    border: 1px solid rgba(255, 255, 255, 0.15);

}

.dynamicContainer {
  display: grid;
  grid-template-columns: 3em auto 3em 1fr auto 1fr;
  padding: 1em 0.5em;
  gap: 0.5em;
  grid-template-areas: 'clipboard start content alarm deckCount submit';
  align-items: center;
}

.footerStart {
  grid-area: start;
}

.footerContent {
  grid-area: deckCount;
}

.footerAlarm {
  grid-area: alarm;
}

.buttonHolder {
  grid-area: submit;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.buttonClass {
  margin-bottom: 0;
  font-weight: 500;
  white-space: nowrap;
}

.buttonClassLeave {
  margin-bottom: 0;
  font-weight: 500;
  white-space: nowrap;
}

.buttonClassLeave:hover {
  border-color: black;
  background-color: var(--alarm);
  color: black;
  transition: 0.7s;
}

.alarm {
  color: var(--alarm);
}

.clipboardButtonHolder {
  grid-area: clipboard;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1.3em;
  margin-left: 0.1em;
  pointer-events: auto;
  user-select: none;
  cursor: pointer;
}