.playerOne {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 7;
  grid-row-end: 13;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0 !important;
  border-radius: 5px;
}

.playerTwo {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0 !important;
  border-radius: 5px;
}
