.playerOne {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 5;
  grid-row-end: 9;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: 5px;
}

.playerTwo {
  grid-column-start: 1;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  border-radius: 5px;
}
