.chatBox {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.chatBoxContainer {
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1vh;
  user-select: text;
}

.chatBoxInner {
  font-weight: 400;
  font-size: max(1em, 14px);
  line-height: 1.3;
  position: relative;
  overflow: clip;
  flex: 0 1 100%;
  margin-bottom: 0.5em;
  outline: 2px solid black;
  background-color: var(--white);
  color: black;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.tabs button {
  padding: 0;
  margin: 0;
}
