.chatBox {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.1em;
  right: 0;
}

.tabs > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: auto;
  flex-basis: auto;
  padding: 5px;
  margin-left: 1dvh;
  font-size: 1em;
  font-weight: 550;
  height: auto;
}

.tabs > button:hover {
  background-color: black;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.chatBoxContainer {
  padding-top: 1dvh;
  position: relative;
  width: 100%;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  user-select: text;
}

.chatBoxInner {
  font-weight: 400;
  font-size: max(1em, 14px);
  line-height: 1.3;
  position: relative;
  overflow: clip;
  flex: 0 1 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  outline: 2px solid black;
  background-color: var(--white);
  color: black;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  height: 30px;
  margin-bottom: 5px;
}

.tabs button {
  padding: 0;
  margin: 0;
}

.chatBoxMobileContainer {
  width: 100%;
  width: 30vw;
  padding-top: 1dvh;
  position: relative;
  flex-grow: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  user-select: text;
}

.chatBoxMobileInner {
  min-height: 250px;
  overflow-y: auto;
  font-weight: 400;
  font-size: max(1em, 7px);
  line-height: 1.3;
  position: relative;
  overflow: clip;
  flex: 0 1 100%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  outline: 2px solid black;
  background-color: var(--white);
  color: black;
  border-radius: 5px;
}

.chatMobileBox {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0.1em;
  right: 0;
}
