.lobbyClass {
  user-select: none;
}

.titleContainer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -208px;
  height: 240px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  background-color: black;
  z-index: 10;
}

.leftCol {
  background-size: cover;
}

.rightCol {
  text-align: right;
  background-size: cover;
}

.dimPic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-bottom: 0.2em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  background-color: rgba(0, 0, 0, 0.35);
}

.dimPic > h3 {
  margin-bottom: 0.5em;
}

.heroName {
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-bottom: 0px;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 0 1em;
  top: 0;
  background-color: var(--card-background-color);
  z-index: 10;
  top: 32px;
}

.contentContainer {
  padding: 0 0.5em;
}

.gridContentContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 300px;
  grid-template-rows: 1fr;
  gap: 2em;
}

.buttonClass {
  color: black;
  margin-bottom: 0;
}

.alarm {
  color: var(--alarm);
}
