.lobbyClass {
  user-select: none;
  margin: auto;
  max-width: 2560px;
  display: flex;
}

.titleContainer {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -208px;
  height: 240px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  background-color: black;
  z-index: 10;
}

.smallButton {
  gap: 1em;
  font-size: 0.85em;
  font-weight: 550;
  padding: 0;
  margin: 0;
}

.patreonLink {
  font-size: 0.65em;
  padding: 0;
  margin: 0;
}

.leftCol {
  background-size: cover;
  height: 100%;
}

.rightCol {
  text-align: right;
  background-size: cover;
  height: 100%;
}

.dimPic {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-bottom: 0.2em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  background-color: rgba(0, 0, 0, 0.35);
}

.dimPic > h3 {
  margin-bottom: 0.5em;
}

.heroName {
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-bottom: 0px;
}

.inLineNav {
  position: relative;
  top: 0;
}

.deckSelectorContainer {
  grid-row: 1 / span 2;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 0 1em;
  top: 0;
  background-color: var(--card-background-color);
  z-index: 10;
  top: 32px;
}

.mobileNav {
  max-width: 100vh;
  max-width: 100dvh;
  overflow-x: auto;
  overflow-y: auto;
}

.contentContainer {
  padding: 0 0.5em;
}

.gridLayout {
  display: flex;
  width: 100dvw;
  flex-direction: column;
}

.buttonClass {
  color: black;
  margin-bottom: 0;
}

.alarm {
  color: var(--alarm);
}

@media (min-width: 1200px) {
  .lobbyClass {
    position: fixed;
    top: 0px;
    bottom: 110px;
    overflow-y: hidden;
  }

  .form {
    min-height: 100%;
    overflow-y: hidden;
    display: flex;
  }

  .gridLayout {
    gap: 1em;
    padding: 1em;
    min-height: 100%;
    overflow-y: hidden;
    display: grid;
    grid-template-columns: 1fr 2fr 200px;
    grid-template-rows: 240px 1fr;
    grid-template-areas:
      'hero weapons matchups'
      'chat weapons matchups';
  }

  .titleContainer {
    grid-area: hero;
  }
}
