.lobbyClass {
  user-select: none;
}

.titleContainer {
  height: 240px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  background-color: black;
}

.leftCol {
  background-size: cover;
}

.rightCol {
  text-align: right;
  background-size: cover;
}

.dimPic {
  width: 100%;
  height: 100%;
  padding: 1em;
  padding-top: 5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  background-color: rgba(0, 0, 0, 0.35);
}

.heroNameStickyBar {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  padding: 0 1em;
  height: 32px;
  top: 0;
  background-color: var(--card-background-color);
  z-index: 10;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  font-weight: 600;
}

.heroName {
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  margin-bottom: 0px;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 0 1em;
  top: 0;
  background-color: var(--card-background-color);
  z-index: 10;
  top: 32px;
}

.contentContainer {
  padding: 0 0.5em;
}

.gridContentContainer {
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 300px;
  grid-template-rows: 1fr;
  gap: 2em;
}

.buttonClass {
  color: black;
  margin-bottom: 0;
}

.alarm {
  color: rgba(183, 28, 28);
}
