.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
  padding: 1em 0.5em 5em 0.5em;
}

.deckCardContainer {
  height: 100px;
  width: 100px;
}

.card {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  border-radius: 0.5em;
}

input + img {
  filter: brightness(0.5);
  transition: filter 0.25s;
}

input[type='checkbox']:checked + img {
  filter: brightness(1);
}
