.feetZone {
  position: relative;
  left: 0px;
  border-radius: 1vh;
  flex: 0 0 10vh;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: feet;
  font-size: 18px;
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1;
}
