.arsenalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vh;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  grid-area: arsenal;
}

.arsenalZone {
  height: 100%;
  min-width: var(--card-size);
  width: fit-content;
  display: flex;
  gap: 1dvh;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
}

.playerPrompt {
  background-color: var(--near-black);
  border-width: 1px;
  border-radius: 5px;
  border-color: goldenrod;
  border-style: solid;
  color: var(--white);
  text-align: center;
  position: fixed;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.5s;
  flex-wrap: nowrap;
  font-size: 1.2em;
  font-weight: 500;
  padding: 2px 4px;
  flex-direction: row;
  overflow-x: min-content;
  gap: 5px;
  bottom: 20%;
  right: 40vh;
  right: 40dvh;
  left: 30vh;
  left: 30dvh;
  z-index: 30;
}

.content {
  display: flex;
  align-items: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.buttonDiv {
  background-color: var(--dark-red);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 4vh;
  height: auto;
  border-radius: 5px;
  border: 1px solid black;
  flex-basis: auto;
  padding: 0 1dvh;
  margin-left: 1dvh;
}

.buttonDiv:hover {
  background-color: var(--white);
  color: var(--dark-red);
  border: 1px solid var(--dark-red);
  cursor: pointer;
}

.drawButton {
  padding: 2px 10px;
  margin: 0;
  border: 2px solid var(--near-black);
}

@media (orientation: portrait) {
  .playerPrompt {
    top: 10px;
  }
}
