.arsenalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vh;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  grid-area: arsenal;
}

.arsenalZone {
  height: 100%;
  min-width: min(11dvh, 12dvw);
  width: fit-content;
  display: flex;
  gap: 1dvh;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.5em;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
}
