.popUp {
  position: fixed;
  z-index: 2000;
  height: 35vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px goldenrod solid;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.defaultPos {
  right: 200px;
  top: 10vh;
}

.img {
  height: 35vh;
  display: block;
}

.popUpInside {
  z-index: 111;
}
