.label.label {
  background-color: var(--near-black);
  color: var(--theme-primary);
  order: 99;
  position: absolute;
  bottom: 10px;
  left: 5px;
  right: 3px;
  text-align: center;
  border: .5px solid var(--theme-primary);
  border-radius: 5px;
  z-index: 100;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
}

.countersCover.countersCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  inset: 0;
  z-index: 2;
  cursor: default;
  align-content: center;
  opacity: var(--counters-opacity, 1);
  transition: opacity 0.2s ease;
  pointer-events: var(--counters-pointer-events, auto);
  overflow: visible !important;
  
}

.number.number {
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 1.75em;
  min-height: 1em;
  width: 100%;
  max-width: 1.75em;
  min-width: 1em;
  font-size: 1.5em;
  background-color: var(--white);
  text-align: center;
  cursor: default;
}

.defCounter.defCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-defense.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
  overflow: visible;
}

.steamCounter.steamCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-steamCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.energyCounter.energyCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-energyCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.hauntCounter.hauntCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-hauntCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.verseCounter.verseCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-verseCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.doomCounter.doomCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-doomCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.lessonCounter.lessonCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-lessonCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.rustCounter.rustCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-rustCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.flowCounter.flowCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-flowCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.frostCounter.frostCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-frostCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.balanceCounter.balanceCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-balanceCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.bindCounter.bindCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-bindCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.stainCounter.stainCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-stainCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.stormCounter.stormCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-stainCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.goldCounter.goldCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-goldCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.suspenseCounter.suspenseCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-suspenseCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.sandCounter.sandCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-sandCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.powerCounter.powerCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-attack.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
  border: 0px;
}

.lifeCounter.lifeCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75em;
  width: 1.75em;
  background-image: url('../../../../../img/symbols/symbol-health.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  cursor: default;
  border: 0px;
}

.wateryGraveIcon.wateryGraveIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--near-black);
  border: var(--theme-primary) solid 1px;
  color: var(--white);
  border-radius: 8px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 1.4em;
  padding: 2px;
  margin: 0.1em;
  pointer-events: auto;
  user-select: none;
  cursor: default;
}

.facing {
  height: 1.75em;
  width: 1.75em;
  background-position: center;
  background-size: contain;
}

.facingUp {
  background-image: url('../../../../../img/symbols/symbol-faceUp.png');
}

.facingDown {
  background-image: url('../../../../../img/symbols/symbol-faceDown.png');
}

.text {
  color: black;
}

.floatCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.icon.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  border: var(--theme-primary) solid 1px;
  color: var(--white);
  border-radius: 5px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 1.75em;
  padding: 2px;
  margin: 0.1em;
  pointer-events: auto;
  user-select: none;
  cursor: default;
}

.iconText {
  padding: 2px;
}

.iconTextCombatChain {
  padding: 2px;
  padding-bottom: 5px;
}

.iconTextEffect{
  padding: 2px;
}

@media only screen and (max-width: 1200px) {
  .number.number {
    max-height: 1.8em;
    max-width: 1.8em;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .icon.icon {
    min-width: 1.3em;
    height: 1.3em;
    font-size: 1.4em;
    padding: 1px;
    margin: 0.05em;
  }
}

@media only screen and (max-width: 480px) {
  .icon.icon {
    min-width: 1em;
    height: 1em;
    font-size: 1.1em;
    padding: 1px;
    margin: 0.05em;
    border-width: 0.5px;
  }
}

/* Keyframe animation for tooltip entrance */
@keyframes tooltipSlideIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tooltip box for portal-based tooltips */
.tooltipBox {
  background-color: var(--near-black);
  color: #fff;
  padding: 0.5em 0.75em;
  border-radius: 4px;
  font-size: 0.875rem;
  white-space: nowrap;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.95);
  line-height: 1.4;
  animation: tooltipSlideIn 0.3s ease-out;
}

/* Tooltip arrow for portal-based tooltips */
.tooltipArrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.95);
  animation: tooltipSlideIn 0.3s ease-out;
}
