.label.label {
  background-color: var(--near-black);
  color: var(--primary);
  order: 99;
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 3px;
  text-align: center;
  border: 1px var(--primary) solid;
  border-radius: 5px;
  z-index: 100;
  text-overflow: ellipsis;
  overflow: hidden;
}

.countersCover.countersCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  inset: 0;
  z-index: 2;
  cursor: default;
}

.number.number {
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  font-size: 1.5em;
  background-color: var(--white);
  text-align: center;
  cursor: default;
}

.defCounter.defCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  background-image: url('../../../../../img/symbols/symbol-defence.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
}

.steamCounter.steamCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  background-image: url('../../../../../img/symbols/symbol-steamCounter.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
}

.attackCounter.attackCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  background-image: url('../../../../../img/symbols/symbol-attack.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  z-index: -1;
  cursor: default;
}

.lifeCounter.lifeCounter {
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  width: 2em;
  background-image: url('../../../../../img/symbols/symbol-life.png');
  background-position: center;
  background-size: contain;
  text-align: center;
  font-size: 1.5em;
  color: var(--white);
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  cursor: default;
}

[data-tooltip]::before {
  text-shadow: none;
}

.aimCounter.aimCounter {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  background-image: url('../../../../../img/symbols/symbol-aim.png');
  background-position: center;
  background-size: contain;
  border: none;
  cursor: default;
}

.facing {
  height: 2em;
  width: 2em;
  background-position: center;
  background-size: contain;
}

.facingUp {
  background-image: url('../../../../../img/symbols/symbol-faceUp.png');
}

.facingDown {
  background-image: url('../../../../../img/symbols/symbol-faceDown.png');
}

.text {
  color: black;
}

.floatCover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  inset: 0;
  z-index: 2;
  pointer-events: none;
}

.icon.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: var(--primary) solid 1px;
  color: var(--white);
  border-radius: 5px;
  min-width: 1.5em;
  height: 1.5em;
  font-size: 1.75em;
  padding: 2px;
  margin: 0.1em;
  pointer-events: auto;
  user-select: none;
  cursor: default;
}

.iconText {
  font-size: .9em;
  padding-bottom: 2px;
}