.chatInputContainer {
  height: 3vh;
  height: 3dvh;
}

.chatInput.chatInput {
  font-weight: 400;
  font-size: max(1em, 14px);
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100%;
  border: 2px solid black;
  background-color: var(--white);
  color: black;
  padding: 0 0.5em;
  margin: 0;
  height: 1.75rem !important;
  min-width: none;
}

.flexBox {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25em;
  max-width: 100%;
}

.buttonDiv {
  padding: 0.5em;
  font-size: max(1em, 14px);
  margin-right: 0.25rem;
  width: 2rem;
  height: 1.65rem !important;
}
