.chatInputContainer {
  height: 3vh;
  height: 3dvh;
}

.chatInput.chatInput {
  font-weight: 400;
  font-size: max(1em, 14px);
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 100%;
  border: 2px solid black;
  background-color: var(--white);
  color: black;
  padding: 0 0.5em;
  margin: 0;
  height: 1.75rem !important;
  min-width: none;
}

.flexBox {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25em;
  max-width: 100%;
}

.buttonDiv {
  padding: 0.5em;
  font-size: max(1em, 14px);
  margin-right: 0.25rem;
  width: 2rem;
  height: 1.65rem !important;
}

.quickChatButton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
}

.quickChatButton button {
  font-size: 0.85em;
  font-weight: 550;
  padding: 0.3em;
  margin: 0;
  margin-top: 0.1rem;
}

.popOver {
  background-color: var(--near-black);
  border: 1px solid var(--primary);
  color: white;
  padding: 10px;
  z-index: 1000;
  overflow-y: auto;
  max-height: 95vh;
  max-height: 95dvh;
  max-width: 50vw;
  max-width: 50dvw;
  border-radius: 15px;
  overflow-y: auto;
}

.popOver button:last-child {
  margin-bottom: 0;
}

.quickChatHeader {
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 auto 5px auto;
}

.floatingOverlay {
  z-index: 1000;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  font-size: 1em;
  pointer-events: auto;
  user-select: none;
  cursor: pointer;
}