.chatInputContainer {
  height: 3vh;
  height: 3dvh;
}

.chatInput {
  font-weight: 400;
  font-size: 1em;
  flex-shrink: 1;
  flex-grow: 1;
  width: auto;
  border: 2px solid black;
  background-color: var(--white);
  color: black;
  height: 3vh;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
}

.buttonDiv {
  width: 4em;
}
