.playerName {
  margin: 0.25em;
  padding: 0.25em;
  height: 3em;
  width: 20em;
  border-radius: 0.3em;
  font-weight: 550;
  background-color: rgba(50, 10, 10, 0.6);
  border: 2px solid rgba(111, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  color: var(--secondary-inverse);
  z-index: 1;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  height: 2.8vh;
  width: 2.8vh;
  height: 2.8dvh;
  width: 2.8dvh;
}
