.playerName {
  margin: 0.5em 0.5em;
  padding: 1em;
  height: 3em;
  width: 20em;
  border-radius: 0.3em;
  font-weight: 550;
  background-color: var(--dark-red);
  color: var(--secondary-inverse);

  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: flex-start;
}

.icon {
  height: 3vh;
  width: 3vh;
}
