.legsZone {
  position: relative;
  left: 0px;
  border-radius: 1vh;
  flex: 0 0 10vh;
  background: var(--theme-zone-placeholder);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: legs;
  min-width: 100%;
  min-height: 100%;
}
