.lastPlayed {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 27vh;
}

.img {
  max-width: 95%;
  max-height: 100%;
  border-radius: 5%;
  object-fit: contain;
}

.rotated {
  transform: rotate(90deg);
  max-width: 130%;
  max-height: 100%;
}
