.handCard {
  height: 15vh;
  overflow: visible;
  width: 1px;
  flex-grow: 1;
}

.img {
  width: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  border-radius: 1vh;
  border-radius: 1dvh;
}

.imgContainer {
  position: relative;
  height: 25vh;
  height: 25dvh;
  aspect-ratio: 2/3;
  transition: transform 0.25s;
}

.imgContainer:hover {
  top: -3vh;
}

.iconCol {
  display: flex;
  position: absolute;
  top: 3vh;
  left: -1.25vh;
  height: 10vh;
  top: 3dvh;
  left: -1.25dvh;
  height: 10dvh;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  background-color: rgba(0, 0, 0, 0.9);
  border: goldenrod solid 1px;
  color: gold;
  border-radius: 5px;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.border1 {
  border-color: deepskyblue;
  box-shadow: 0 0 5px 5px deepskyblue;
}

.border2 {
  border-color: red;
  box-shadow: 0 0 5px 5px red;
}

.border3 {
  border-color: goldenrod;
  box-shadow: 0 0 5px 5px goldenrod;
}

.border4 {
  border-color: gray;
  box-shadow: 0 0 5px 5px gray;
}

.border5 {
  border-color: tan;
  box-shadow: 0 0 5px 5px tan;
}

.border6 {
  border-color: chartreuse;
  box-shadow: 0 0 5px 5px chartreuse;
}

.border7 {
  border-color: purple;
  box-shadow: 0 0 5px 5px purple;
}
