.arsenalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1vh;
  grid-area: arsenal;
  justify-content: center;
  align-items: center;
}

.arsenalZone {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 10vh;
  border-radius: 10px;
  min-width: 10vh;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}
