.gameItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
  vertical-align: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.button {
  background-color: var(--secondary);
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.subSectionTitle {
  text-align: center;
  margin-bottom: 1em;
}

.groupDiv {
  padding-bottom: 0.75em;
  + .groupDiv {
    padding-top: 0.75em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
}

img {
  max-height: 3em;
}

.gameList {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.reloadButton {
  max-width: 7em;
  max-height: 2.5em;
  display: inline-block;
  margin-bottom: 0;
  line-height: 2.5em;
  padding: 0;
}

.titleDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

@media (max-width: 767px) {
  .gameList {
    width: 100%;
    border: none;
  }
}
