.rightColumn {
  order: 3;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  min-width: 20vh;
  min-width: 20dvh;
  max-width: 20vh;
  max-width: 20dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background-color: rgba(50, 50, 50, 0.5);
}

@media (orientation: portrait) {
  .rightColumn {
    display: none;
  }
}

.topGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1em;
}

.bottomGroup {
  width: 100%;
  max-height: 45%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.turnNumber {
  padding-top: 1em;
}
