.hatZone,
.feetZone {
  text-align: center;
  flex-grow: 1;
  width: 10vh;
}

.chestZone {
  text-align: center;
  flex-grow: 1;
  width: 10vh;
}

.glovesZone {
  text-align: left;
  place-self: start;
  flex-grow: 1;
  width: 10vh;
}

.weaponLZone {
  text-align: right;
  flex-grow: 1;
}

.heroZone {
  flex-grow: 1;
}

.weaponRZone {
  text-align: left;
  flex-grow: 1;
}
