.hatZone,
.feetZone {
  position: relative;
  left: 0px;
  border-radius: 10px;
  flex: 0 0 10vh;
}

.chestZone {
  position: relative;
  left: 0px;
  flex: 0 0 10vh;
}

.glovesZone {
  position: relative;
  left: 1vh;
  text-align: left;
  place-self: start;
  flex: 0 0 10vh;
}

.weaponLZone {
  flex: 0 0 10vh;
  right: 1vh;
}

.heroZone {
  flex: 0 0 10vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.weaponRZone {
  flex: 0 0 10vh;
}

.permanentsZone {
  position: relative;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.graveyardZone {
  position: relative;
  height: 10vh;
  width: 10vh;
  flex: 0 0 10vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.deckZone {
  order: 5;
  height: 10vh;
  width: 10vh;
  right: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.pitchZone {
  order: 4;
  height: 10vh;
  width: 10vh;
  margin-right: 1vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.banishZone {
  position: relative;
  height: 10vh;
  width: 10vh;
  right: 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.arsenalZone {
  position: relative;
  height: 10vh;
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}
