.cardListBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 20vh;
  bottom: 20vh;
  left: 20vw;
  right: 20vw;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2vh;
  border: 1px solid goldenrod;
  border-radius: 20px;
}

.cardListTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 0px;
  margin: 0px;
}

.cardListContents {
  padding-top: 2vh;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1vh;
  overflow-y: auto;
  height: auto;
}

.cardListCloseIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 5vh;
  height: 5vh;
  border-radius: 5px;
}

.cardListCloseIcon:hover {
  background-color: goldenrod;
  color: black;
}

.emptyOutside {
  position: fixed;
  top: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}
