.handZone {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.isPlayer {
  top: 2vh;
}

.isOpponent {
  top: -7vh;
}
