.handZone {
  position: relative;
  width: 100%;
  min-height: 10vh;
  height: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1vh;
  /* z-index: 3; */
}

.isPlayer {
  align-self: flex-start;
  top: 2vh;
}

.isOpponent {
  align-self: flex-end;
  top: -2vh;
}
