.handZone {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 1vh;
  z-index: 3;
}

.isPlayer {
  align-self: flex-start;
  top: 2vh;
}

.isOpponent {
  align-self: flex-end;
  bottom: 2vh;
}
