.handZone {
  position: absolute;
  height: 45px;
  width: 1044px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}

.isPlayer {
  top: 925px;
}

.isOpponent {
  top: -65px;
}
