.headZone {
  background: var(--theme-zone-placeholder);
  border-radius: 1vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: head;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
