.widgetContainer {
  top: 51%;
  right: 19%;
  transform: translateY(-50%);
  position: fixed;
  width: calc(2 * var(--card-size));
  height: 19vh;
  height: 19dvh;
  z-index: 15;
  user-select: none;
}

.widgetBackground {
  background-position: right;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: relative;
  gap: 0.3vh;
  gap: 0.3dvh;
}

.myTurn {
  background-image: url('../../../../../img/elements/turnwidget/passActiveBG.png');
}

.myTurnHover {
  background-image: url('../../../../../img/elements/turnwidget/passHoverBG.png');
}

.myTurnPress {
  background-image: url('../../../../../img/elements/turnwidget/passPressBG.png');
}

.ourTurn {
  background-image: url('../../../../../img/elements/turnwidget/passInactiveBG.png');
}

.widgetLeftCol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
}

.widgetRightCol {
  width: 9vh;
  width: 9dvh;
  height: 17vh;
  height: 17dvh;
  padding: 1vh 0;
  padding: 1dvh 0;
  gap: 1vh;
  gap: 1dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

@media (orientation: portrait) and (min-width: 600px) {
  .widgetContainer {
    right: 1%;
    height: 12vh;
    height: 12dvh;
  }

  .widgetBackground{
    width: calc(2 * var(--card-size) * 0.9);
  }

  .widgetRightCol {
    width: 50%;
    height: 12vh;
    height: 12dvh;
    margin-right: -1.5vh;
  }

  .widgetLeftCol {
    width: 50%;
    margin: -1.5vh;
    margin: -1.5dvh;
  }
}

@media (orientation: portrait) and (max-width: 600px) {
  .widgetContainer {
    right: 1%;
    top: 49%;
    height:10vh;
  }

  .widgetRightCol {
    width: 50%;
    height: 10vh;
    height: 10dvh;
    margin-right: -.9vh;
  }

  .widgetLeftCol {
    width: 50%;
    margin: 0;
    gap: 0;
  }
}