.container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 350px;
}

.spacer {
  height: 5em;
  width: 100vw;
}
