.playerBoard {
  display: grid;
  grid-template-rows: 10vh 10vh 10vh;
  grid-template-columns: 10vh 10vh 1fr 10vh 10vh 10vh 1fr 10vh 10vh;
  gap: 1vh;
  padding: 1vh;
  grid-template-areas:
    'legs . . arsenal arsenal arsenal . zonecounts banish'
    'chest arms . weaponl hero weaponr . pitch deck'
    'head permanents permanents permanents permanents permanents permanents permanents graveyard';
}

.playerPlaymat {
  position: relative;
  margin: auto;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 95%;
}

.FirstBox {
  background-color: green;
  grid-area: green;
}

.SecondBox {
  background-color: red;
  grid-area: red;
}

.ThirdBox {
  background-color: yellow;
  grid-area: yellow;
}

@media (orientation: portrait) {
  .playerPlaymat {
    width: 100%;
  }
  .playerBoard {
    grid-template-rows:
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95);
    grid-template-columns:
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95) 1fr
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95) 1fr calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95);
    gap: calc(1dvw * 0.95);
    padding: calc(1dvw * 0.95);
    grid-template-areas:
      'legs . . . arsenal arsenal . zonecounts banish'
      'chest arms . weaponl hero weaponr . pitch deck'
      'head permanents permanents permanents permanents permanents permanents permanents graveyard';
  }
}
