.actionPointDisplay {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 130px;
  height: 30px;
  bottom: 79px;
  right: 25px;
  position: absolute;
}

.actionPointOppDisplay {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 130px;
  height: 30px;
  top: 44px;
  right: 25px;
  position: absolute;
}
