.handRow {
  position: fixed;
  min-width: 10%;
  max-width: 60%;
  max-height: 3vh;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 2vh;
  user-select: none;
  z-index: 15;
  isolation: isolate;
  margin: auto;
  left: 10vh;
  left: 10dvh;
  right: 20vh;
  right: 20dvh;
}

@media (orientation: portrait) {
  .handRow {
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 0;
    bottom: 2vh;
  }
}

.manualMode {
  position: fixed;
  width: 500px;
  border-radius: 8px;
  background-color: darkred;
  z-index: 500;
  bottom: 0;
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: 3fr 1fr 1fr;
}

.manualMode > * {
  height: 12px;
}

.manualMode > input {
  margin-bottom: 0;
  height: 12px;
}

.manualMode > button {
  margin-bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}
