.handRow {
  position: fixed;
  min-width: 10%;
  max-width: 60%;
  max-height: 3vh;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 2vh;
  user-select: none;
  margin: auto;
  left: 10vh;
  left: 10dvh;
  right: 20vh;
  right: 20dvh;
}

@media (orientation: portrait) and (max-width: 768px) {
  .handRow {
    justify-content: center;
    max-width: 100%;
    gap: 5dvh;
    bottom: 2dvh;
    padding: 0 0.5dvh;
    max-height: 18dvh;
    scroll-snap-type: x mandatory;
  }

  .cardCount5 {
    justify-content: flex-start;
    width: 100%;
    left: 0;
    right: 0;
    gap: 1dvh;
  }

  .cardCount6Plus {
    justify-content: flex-start;
    width: 100%;
    left: 0;
    right: 0;
    gap: 0.25dvh;
  }
}

@media (orientation: portrait) and (min-width: 769px) {
  .handRow {
    justify-content: center;
    max-width: 100%;
    gap: 5dvh;
    bottom: 2dvh;
    padding: 0 0.5dvh;
    max-height: 18dvh;
    scroll-snap-type: x mandatory;
  }


  .cardCount5 {
    width: 100%;
    left: 0;
    right: 0;
    gap: 1dvh;
  }

  .cardCount6Plus {
    width: 100%;
    left: 0;
    right: 0;
    gap: 0.25dvh;
  }
}