.handRow {
  position: fixed;
  min-width: 10%;
  max-width: 60%;
  max-height: 3vh;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 2vh;
  user-select: none;
  margin: auto;
  left: 10vh;
  left: 10dvh;
  right: 20vh;
  right: 20dvh;
}

@media (orientation: portrait) {
  .handRow {
    justify-content: center;
    max-width: 100%;
    width: 100%;
    gap: 0;
    bottom: 2vh;
    left: 0;
    right: 0;
  }
}