.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('../../../../../img/elements/Banner.png');
  width: 20vh;
  width: 20dvh;
  height: 20vh;
  height: 20dvh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.phaseWidget {
  left: 10px;
  position: relative;
  background-image: url('../../../../../img/elements/Tracker.png');
  width: 180px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  left: 15%;
  right: 15%;
  width: 100%;
  margin-top: 2vh;
  margin-top: 2dvh;
  height: 3vh;
  height: 3dvh;
  text-align: center;
}

.phaseTrackerBottomContainer {
  text-align: center;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

.bottomInterior {
  flex-grow: 1;
  font-size: 0.75em;
  width: 70%;
}
