.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: stretch;
  max-width: 100%;
  min-width: 0px;
  flex: 1;
  min-height: 0;
}

.spacer {
  height: 5em;
}

@media (max-width: 1199px) {
  .container {
    height: calc(100dvh - 380px);
    min-height: 200px;
    flex: 0 0 auto;
  }

  .spacer {
    display: none;
  }
}

@media (min-width: 1200px) {
  .spacer {
    height: 0;
  }
}
