.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 100%;
  min-width: 0px;
  grid-area: chat;
  height: 100%;
  min-height: 0;
}

.spacer {
  display: block;
  flex: 0 0 var(--sticky-footer-height, 60px);
}

@media (min-width: 1200px) and (pointer: fine) {
  .container {
    height: 100%;
  }

  .spacer {
    flex-basis: 0;
    height: 0;
  }
}
