.destroyContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  pointer-events: none;
}

.topPiece {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(0% 0%, 100% 0%, 100% 43%, 0% 57%);
  animation: slashTopPiece 1.5s ease-in forwards;
  overflow: hidden;
}

.bottomPiece {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(0% 57%, 100% 43%, 100% 100%, 0% 100%);
  animation: slashBottomPiece 1.5s ease-in forwards;
  overflow: hidden;
}

@keyframes slashTopPiece {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(-2deg);
    opacity: 1;
  }
  100% {
    transform: translate(-30%, -30%) rotate(-8deg);
    opacity: 0;
  }
}

@keyframes slashBottomPiece {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  20% {
    transform: translate(0, 0) rotate(-2deg);
    opacity: 1;
  }
  100% {
    transform: translate(30%, 30%) rotate(3deg);
    opacity: 0;
  }
}
