.navBar {
  top: 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logoutButton {
  padding: 0 var(--nav-link-spacing-horizontal);
}

.logoutButton button {
  padding: 0.25rem var(--nav-link-spacing-horizontal);
}
