.cardListBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 12px;
  z-index: 10;
}

.cardListTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.cardListTitle {
  padding-right: 1em;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: space-between;
}

.title {
  padding: 0px;
  margin: 0px;
}

.cardListCloseIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border-radius: 5px;
}

.cardListCloseIcon:hover {
  background-color: var(--primary);
  color: black;
}

.buttonDiv {
  background-color: var(--primary);
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 8vh;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid var(--primary);
  flex-basis: auto;
  padding: 0vh 1vh;
}

.buttonDiv:hover {
  background-color: black;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}
