.optionsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 90%;
  top: 60%;
  bottom: 5vh;
  left: 20%;
  right: 20%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2vh;
  border: 1px solid goldenrod;
  border-radius: 20px;
  z-index: 1000;
}

.optionsTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vh;
}

.title {
  padding: 0px;
  margin: 0px;
}

.buttonDiv {
  background-color: goldenrod;
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 8vh;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid goldenrod;
  flex-basis: auto;
  padding: 0vh 1vh;
}

.buttonDiv:hover {
  background-color: black;
  color: goldenrod;
  border: 1px solid goldenrod;
  cursor: pointer;
}

.optionsOverlayCloseIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border-radius: 5px;
}

.optionsOverlayCloseIcon:hover {
  background-color: goldenrod;
  color: black;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  row-gap: 1vh;
  column-gap: 1vh;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}
