.gameListContainer {
  overflow-y: auto;
}

.logo {
  display: block;
  max-width: 1080px;
  max-height: 483px;
  width: 100%;
  height: auto;
}

.NewsLogoSquare {
  display: block;
  max-width: 1080px;
  max-height: 483px;
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

.NewsLogoRectangle {
  display: block;
  max-width: 450px;
  max-height: 450px;
  width: auto;
  height: auto;
  margin: auto;
}

.grid {
  display: grid;
  gap: 30px;
  margin: 0 auto;
  padding: 0 1em;
  max-width: 100%;
}

.createGameContainer {
  order: 1;
}

.newsContainer {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 600px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  order: 2;
}

.gameListContainer {
  order: 3;
}

@media (min-width: 1080px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gameListContainer {
    order: 1;
  }

  .createGameContainer {
    order: 2;
  }

  .newsContainer {
    order: 3;
  }
}

.headlines {
  text-align: center;
}

.headlinesParagraphs {
  text-align: center;
  font-size: 0.9em;
}

.disclaimer {
  font-size: 0.8em;
}
