.armsZone {
  border-radius: 0.5em;
  background: var(--theme-zone-placeholder);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  grid-area: arms;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
