.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-width: 512px;
  margin: auto;
}

.container > h3 {
  margin-bottom: 1em;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.buttons > button {
  min-width: 10em;
  flex-grow: 1;
}

.spacer {
  height: 5em;
  width: 100vw;
}
