.activeEffects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.text {
  width: 100%;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: 2vh;
}

.isOpponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.5em;
}

.isPlayer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 0.5em;
}

.img {
  flex-shrink: 0;
  border: 1px solid red;
  width: 90%;
  max-width: 100%;
  max-height: 100%;
}

.overlayContainer {
  position: relative;
}

.overlayContainer .img {
  position: relative;
  z-index: 1;
}

.overlayContainer .countersOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}