.chainSymbols {
  height: 2.5vh;
}

.chainLinkSymbol {
  position: relative;
  height: 2.5vh;
  z-index: 11;
}

.draconicChainLinkContainer {
  position: absolute;
  top: -0.65vh;
  right: -0.65vh;
  left: -1vh;
  bottom: -1vh;
  z-index: 100;
}

.draconicChainLinkSymbol {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.chainLinksRow {
  background-image: url('../../../../../img/elements/gold-chain.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vh;
  align-items: center;
  height: 3vh;
  width: 100%;
}

.chainLinkSummary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  gap: 0.5em;
  height: 100%;
  cursor: pointer;
}

@media (orientation: portrait) {
  .chainLinksRow {
    gap: 0.5em;
    height: 2em;
  }

  .chainLinkSymbol {
    height: 2em;
  }

  .chainLinkSummary {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }
}

.breakChain {
  display: relative;
  right: 0px;
  background-color: black;
  width: 3.8vh;
  width: 3.8dvh;
  height: 3.8vh;
  height: 3.8dvh;
  border: 1px solid var(--theme-primary);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-primary);
  cursor: pointer;
}

.breakChain:hover {
  background-color: var(--theme-primary);
  color: black;
}

.experimental {
  background-image: none;
}

@media (orientation: portrait) {
  .breakChain {
    width: 2.5dvh;
    height: 2.5dvh;
  }
}