.combatChain {
  position: relative;
  height: 20vh;
  height: 20dvh;
  margin: auto;
  width: 100%;
  padding: 1vh;
  background: rgba(50, 50, 50, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: 1px solid black;
  color: var(--white);
  isolation: isolate;
}
.combatChain::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.experimental {
  background: none;
  border: none;
  outline: none;
}

.chainCentre {
  padding-left: 1vh;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vh;
  flex-grow: 2;
  flex-basis: 1 0 100%;
}

@media (orientation: portrait) {
  .combatChain {
    height: 12em;
  }
}
