.rightColumn {
  order: 3;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 20%;
  min-width: 20vh;
  min-width: 20dvh;
  max-width: 20vh;
  max-width: 20dvh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  background-color: rgba(50, 50, 50, 0.5);
}

.mobileTopBar {
  display: none;
}

@media (orientation: portrait) {
  .rightColumn {
    display: none;
  }

  .mobileTopBar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    height: 5dvh;
    z-index: 50;
    background-color: var(--near-black);
  }

  .mobileTopBar > div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
  }
}

.topGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomGroup {
  width: 100%;
  padding-top: 1dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.turnNumber {
  padding-top: 1em;
}

.streamerBox {
  height: 30dvh;
}
