.deleteButton {
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.button {
  margin: 0;
}

.title {
  margin-bottom: 0;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.heroImage {
  border-radius: 5%;
}