.cardListContents {
  padding-top: 2vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1vh;
  overflow-y: auto;
  height: auto;
  --spacing: 0.25rem;
  --font-size: 0.85rem;
}

.cardTable {
  width: 100%;
}

.card {
  width: 5vh;
  width: 5dvh;
}

.onePitch {
  color: red;
}

.twoPitch {
  color: var(--primary);
}

.threePitch {
  color: aqua;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}

.twoColumn h2 {
  margin-bottom: 5px;
}
