.endGameStats {
  padding-top: 1vh;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1vh;
  overflow-y: auto;
  height: auto;
  z-index: 950;
  --spacing: 0.25rem;
  --font-size: 0.85rem;
  user-select: auto;
}

.advancedStatsBanner {
  width: 100%;
  font-size: 24px;
  text-align: center;
}

.cardTable {
  line-height: 1.5em;
  width: 100%;
}

.card {
  width: 5vh;
  width: 5dvh;
}

.onePitch {
  color: red;
}

.twoPitch {
  color: var(--primary);
}

.threePitch {
  color: aqua;
}

.twoColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 25px;
}

.twoColumn h3 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.twoColumn h2 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.twoColumn p {
  margin-bottom: 0px;
}

.played {
  text-align: center;
}

.blocked {
  text-align: center;
}

.pitched {
  text-align: center;
}

.cardStat {
  text-align: center;
}

.turnNo {
  text-align: center;
}

.headersStats {
  text-align: center;
}
