.optionsContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 30%;
  max-width: 90%;
  top: 60%;
  bottom: 5vh;
  left: 20%;
  right: 20%;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  z-index: 900;
}

.optionsTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1vh;
}

.title {
  padding: 0px;
  margin: 0px;
}

.buttonList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1vh;
}

.buttonDiv {
  background-color: var(--primary);
  color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 8vh;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid var(--primary);
  flex-basis: auto;
  padding: 0vh 1vh;
  width: fit-content;
}

.buttonDiv:hover {
  background-color: black;
  color: var(--primary);
  border: 1px solid var(--primary);
  cursor: pointer;
}

.optionsMenuCloseIcon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4vh;
  height: 4vh;
  border-radius: 5px;
}

.optionsMenuCloseIcon:hover {
  background-color: var(--primary);
  color: black;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  row-gap: 1vh;
  column-gap: 1vh;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  max-height: 100%;
  padding: 0.5em;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
}

.cardList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1vh;
}

.checkBoxRow:last-child {
  padding-bottom: 2vh;
}

.cardDiv {
  flex-basis: 14dvh;
  max-height: 14vh;
  max-width: 14vh;
  max-height: 14dvh;
  max-width: 14dvh;
}
