.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  line-height: normal;
  min-width: calc(10dvh * var(--card-scale));
}

.die {
  font-size: 5em;
  line-height: normal;
}

.container {
  background-image: var(--theme-section-background);
  border: 1px solid var(--theme-primary);
  border-radius: 15px;
}

.container header {
  background-image: var(--theme-section-background);
  border-bottom: 1px solid var(--theme-primary);
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 1em;
}