.formContainer {
  width: 460px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

@media (max-width: 767px) {
  .formContainer {
    width: 100%;
    border: none;
  }
}

.submitButton {
  margin-top: 18px;
}

.formError {
  margin-top: 18px;
  color: red;
  text-align: center;
}

.fieldError {
  color: red;
  text-align: center;
}

.forgottenPassword {
  margin-top: 12px;
}

.linebreak {
  width: 100%;
  text-align: center;
}

.signupButton {
  width: 100%;
}

.divider {
  margin: 18px 0;
}

.link {
  font-weight: 600;
  color: var(--primary);
}

.privacy {
  display: block;
  text-align: center;
  margin: 18px auto 0 auto;
}
