.activeLayersBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 10%;
  top: 10vh;
  left: 20%;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid var(--primary);
  border-radius: 20px;
  max-width: 90vh;
  min-height: 200px;
  max-height: 50vh;
  max-height: 60dvh;
  z-index: 99;
  overflow-y: auto;
}

.activeLayersTitle {
  font-size: 0.75em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-size: 1.5em;
  margin: 0px;
}

.activeLayersContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: center;
  gap: 5px;
  min-width: fit-content;
  max-width: 1920px;
}

.activeLayersContents > div {
  width: 14dvh;
}

.orderingExplanation {
  font-size: 0.75em;
  margin-bottom: 0;
}

.emptyOutside {
  position: fixed;
  top: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.target {
  margin-bottom: 0;
}

.targetContainer {
  display:flex;
  align-content: center;
  align-items: center;
  gap: 4px;
}

@media (orientation: portrait) {
  .activeLayersBox {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
  }
}
