.activeLayersBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 45%;
  max-width: 60%;
  top: 10vh;
  bottom: 60vh;
  left: 20%;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid gold;
  border-radius: 20px;
  z-index: 99;
}

.activeLayersTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 0px;
  margin: 0px;
}

.activeLayersContents {
  padding-top: 2vh;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 1vh;
  overflow-y: auto;
  height: auto;
}

.activeLayersContents > div {
  flex-basis: 14dvh;
  max-height: 14dvh;
}

.emptyOutside {
  position: fixed;
  top: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .activeLayersBox {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 100%;
  }
}
