.activeLayersBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 45%;
  top: 10vh;
  bottom: 55vh;
  left: 20%;
  right: 20%;
  background-color: var(--near-black);
  padding: 2vh;
  border: 1px solid gold;
  border-radius: 20px;
  max-width: 60%;
  z-index: 99;
}

.activeLayersTitleContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.activeLayersTitle {
  font-size: 0.75em;
  padding-left: 0.5em;
}

.title {
  font-size: 1.5em;
  padding: 0px 0px 0px 0.25em;
  margin: 0px;
}

.activeLayersContents {
  padding-top: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  overflow-y: auto;
  height: auto;
}

.orderingExplanation {
  font-size: 0.75em;
  padding-left: 0.5em;
  margin-bottom: 0;
}

.emptyOutside {
  position: fixed;
  top: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

@media (orientation: portrait) {
  .activeLayersBox {
    position: fixed;
    left: 0px;
    right: 0px;
    width: 100%;
    max-width: 100%;
  }
}
