.activeLayersBox {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 40vh;
  top: 8vh;
  left: 20%;
  background-color: rgba(0, 0, 0, calc(1 - (1 - var(--transparency-intensity, 1)) * 0.15));
  padding: 1.5vh;
  border: 1px solid var(--theme-primary);
  border-radius: 10px;
  max-width: 90vh;
  max-height: 40vh;
  z-index: 99;
  overflow-y: auto;
}

.activeLayersContents > div {
  width: var(--card-size);
}

.activeLayersTitle {
  font-size: 0.8em;
  padding-left: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.title {
  font-size: 1.5em;
  margin: 0px;
}

.activeLayersContents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: center;
  gap: 5px;
  min-width: fit-content;
  max-width: 1920px;
  margin-bottom: 0;
}

.orderingExplanation {
  font-size: 0.8em;
  margin-top: 0.2em;
  margin-bottom: 0;
}

.emptyOutside {
  position: fixed;
  top: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.target {
  margin-bottom: 0;
}

.targetContainer {
  font-size: 1em;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 4px;
  padding-top: 10px;
}

.activeLayersCallToAction {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  font-size: 0.8em;
  padding-left: 0.5em;
}

.buttonDiv {
  width: auto;
  font-size: 0.8em;
  margin: 0px;
  padding: 6px 8px;
  white-space: nowrap;
}

.passTurn {
  position: absolute;
  top: .75vh;
  right: .75vh;
  width: 6.5vh;
  font-size: 1.25em;
  margin-top: 10px;
  margin-right: 10px;
  padding: 4px;
  z-index: 1;
  user-select: none;
}

.buttonDiv:hover {
  background-color: black;
  color: var(--theme-primary);
  border: 1px solid var(--theme-primary);
  cursor: pointer;
}

.passTurnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .activeLayersBox {
    min-width: auto;
    left: 5%;
    padding: 1vh;
    max-height: 50vh;
  }
  
  .activeLayersCallToAction {
    font-size: 0.65em;
    gap: 5px;
    padding-left: 0.25em;
  }

  .activeLayersTitle {
    font-size: 0.75em;
    gap: 5px;
    padding-left: 0.25em;
  }

  .title {
    font-size: 0.9em;
    margin: 0px;
  }

  .targetContainer {
    font-size: 0.85em;
    gap: 2px;
    padding-top: 4px;
  }

  .activeLayersContents {
    gap: 2px;
  }

  .orderingExplanation {
    display: none;
  }

  .passTurnBox {
    display: none;
  }

  .buttonDiv {
    font-size: 0.65em;
    padding: 4px 6px;
  }
}