.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.5em;
  padding: 1em 0.5em 5em 0.5em;
  min-width: 0px;
  overflow-y: auto;
}

.deckCardContainer {
  height: 100px;
  width: 100px;
}

.card {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 105%;
  border-radius: 0.5em;
}

.card:hover {
  width: 105%;
  transition: width 0.1s;
  -webkit-transition: width 0.1s; /* Safari */
}

.container input {
  display: none;
}

.container input + div > img {
  filter: brightness(0.5);
  transition: filter 0.25s, box-shadow 0.25s;
}

.container input[type='checkbox']:checked + div > img {
  box-shadow: 0 0 0 2px var(--theme-primary);
  filter: brightness(1);
}
