.graveyardZone {
  position: relative;
  flex: 0 0 10vh;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(50, 50, 50, 0.5);
  color: var(--white);
  grid-area: graveyard;
  min-width: 100%;
  min-height: 100%;
}
