.LoginPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: var(--aspect);
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 768px) {
  .LoginPageContainer {
    padding: 20px 0;
  }
}
