.gameItem {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 0.3rem;
  vertical-align: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transition: background-color 300ms, left 300ms;
  left: 0;
  background: transparent;

  &:hover {
    left: 0.3rem;
    background-color: rgba(0, 0, 0, 0.2)
  }
}

.button {
  background-color: var(--secondary);
  margin-bottom: 0;
}
