:root {
  --aspect: 1920px;
}

html,
body {
  padding: 0;
  overflow-y: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.centering {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: var(--aspect);
}

.gameZone {
  transform-origin: top left;
  order: 2;
  width: 100%;
}

.cardStackZone {
  width: 90%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.permanentZone {
  grid-column-start: 2;
  grid-column-end: 7;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.arsenalZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.graveyardZone,
.banishedZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.pitchZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.deckZone {
  flex-grow: 1;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}
