body {
  overflow-y: hidden;
}

.centering {
  display: flex;
  margin: auto;
}

.app {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.gameZone {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.topRow {
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  text-align: center;
}

.cardStackZone {
  width: 90%;
  height: 100%;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomRow {
  grid-row-start: 3;
  grid-row-end: 3;
  display: grid;
  text-align: center;
}

.permanentZone {
  grid-column-start: 2;
  grid-column-end: 7;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.beforeArsenal {
  grid-column-start: 2;
  grid-column-end: 3;
}

.afterArsenal {
  grid-column-start: 6;
  grid-column-end: 7;
}

.arsenalZone {
  grid-column-start: 3;
  grid-column-end: 6;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.graveyardZone,
.banishedZone {
  grid-column-start: 7;
  grid-column-end: 8;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.pitchZone {
  grid-column-start: 6;
  grid-column-end: 7;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}

.deckZone {
  grid-column-start: 7;
  grid-column-end: 8;
  background: rgba(50, 50, 50, 0.5);
  color: white;
}
