.GameBoard {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.App {
  display: block;
  align-content: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.OpponentPlaymat {
  background-color: grey;
  grid-row-start: 1;
  grid-row-end: 2;
}

.CombatChain {
  background-color: red;
  grid-row-start: 2;
  grid-row-end: 3;
}

.PlayerPlaymat {
  background-color: green;
  grid-row-start: 3;
  grid-row-end: 4;
}

.PlayerBoard {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
}

.topRow {
  grid-row-start: 1;
  grid-row-end: 1;
  display: grid;
  text-align: center;
}

.singleCardZone {
  display: grid;
  place-items: center;
}

.singleCardZone > img {
  padding: 0fr;
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.middleRow {
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  text-align: center;
}

.bottomRow {
  grid-row-start: 3;
  grid-row-end: 3;
}

.hatZone,
.feetZone {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: aqua;
}

.permanentZone {
  grid-column-start: 2;
  grid-column-end: 7;
  background-color: grey;
}

.beforeArsenal {
  grid-column-start: 2;
  grid-column-end: 3;
}

.afterArsenal {
  grid-column-start: 6;
  grid-column-end: 7;
  background-color: aliceblue;
}

.arsenalZone {
  grid-column-start: 3;
  grid-column-end: 6;
}

.graveyardZone,
.banishedZone {
  grid-column-start: 7;
  grid-column-end: 8;
  background-color: brown;
}

.chestZone {
  grid-column-start: 1;
  grid-column-end: 2;
}

.glovesZone {
  grid-column-start: 2;
  grid-column-end: 3;
}

.weaponLzone {
  grid-column-start: 3;
  grid-column-end: 4;
}

.heroZone {
  grid-column-start: 4;
  grid-column-end: 5;
}

.weaponRZone {
  grid-column-start: 5;
  grid-column-end: 6;
  background-color: yellow;
}

.pitchZone {
  grid-column-start: 6;
  grid-column-end: 7;
  background-color: aqua;
}

.deckZone {
  grid-column-start: 7;
  grid-column-end: 8;
  background-color: purple;
}
