// Override default variables
$primary-500: #ffc107;
$primary-600: #ffb300;
$primary-700: #ffa000;

html,
body {
  overflow-y: auto;
  background: radial-gradient(transparent, black),
    url('./img/backgrounds/dark_bg_texture.webp');
  background-position: center;
  background-size: cover;
  background-color: rgba(50, 50, 50, 0.5);
  --snow: #f4eded;
  // font-family: 'REM';
  // font-style: normal;
}

body {
  --white: var(--snow);
  --dark-red: #6f0000;
  --near-black: rgba(0, 0, 0, 0.85);
  --primary-inverse: #000000;
  --alarm: #c62828;
}

// Import Pico
@import '@picocss/pico/scss/pico';
