// Override default variables
$primary-500: #ffc107;
$primary-600: #ffb300;
$primary-700: #ffa000;

html,
body {
  overflow-y: auto;
  --primary-inverse: #000000;
}

// Import Pico
@import '@picocss/pico/scss/pico';
