:root {
  --primary: goldenrod;
  --color: goldenrod;
}
html {
  font-size: 1.5vh;
  font-size: 1.5dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
