.playerBoard {
  display: grid;
  grid-template-rows: 10vh 10vh 10vh;
  grid-template-columns: 10vh 10vh 1fr 10vh 10vh 10vh 1fr 10vh 10vh;
  gap: 1vh;
  padding: 1vh;
  grid-template-areas:
    'head permanents permanents permanents permanents permanents permanents permanents graveyard'
    'chest arms . weaponl hero weaponr . pitch deck'
    'legs . . arsenal arsenal arsenal . zonecounts banish';
}

.playerBoardB {
  display: grid;
  grid-template-rows: 10vh 10vh 10vh;
  grid-template-columns: 10vh 10vh 1fr 10vh 10vh 10vh 10vh 10vh;
  gap: 1vh;
  padding: 1vh;
  grid-template-areas:
    'head . permanents weaponl hero weaponr . graveyard'
    'chest arms permanents arsenal arsenal arsenal pitch deck'
    'legs . permanents . . . zonecounts banish';
}

.playerPlaymat {
  top: 2vh;
  position: relative;
  margin: auto;
  width: 95%;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.FirstBox {
  background-color: green;
  grid-area: green;
}

.SecondBox {
  background-color: red;
  grid-area: red;
}

.ThirdBox {
  background-color: yellow;
  grid-area: yellow;
}

@media (orientation: portrait) {
  .playerPlaymat {
    width: 100%;
  }
  .playerBoard {
    grid-template-rows: var(--card-size) var(--card-size) var(--card-size);
    grid-template-columns: var(--card-size) var(--card-size) 1fr var(
        --card-size
      ) var(--card-size) var(--card-size) 1fr var(--card-size) var(--card-size);
    gap: 1dvw;
    padding: 1dvw;
  }
}
