.playerBoard {
  display: grid;
  grid-template-rows: 10vh 10vh 10vh;
  grid-template-columns: 10vh 10vh 1fr 10vh 10vh 10vh 1fr 10vh 10vh;
  gap: 1vh;
  padding: 1vh;
  grid-template-areas:
    'head permanents permanents permanents permanents permanents permanents permanents graveyard'
    'chest arms . weaponl hero weaponr . pitch deck'
    'legs . . arsenal arsenal arsenal . zonecounts banish';
}

.playerBoardB {
  display: grid;
  grid-template-rows: 10vh 10vh 10vh;
  grid-template-columns: 10vh 10vh 1fr 10vh 10vh 10vh 10vh 10vh;
  gap: 1vh;
  padding: 1vh;
  grid-template-areas:
    'head . permanents weaponl hero weaponr . graveyard'
    'chest arms permanents arsenal arsenal arsenal pitch deck'
    'legs . permanents . . . zonecounts banish';
}

.playerPlaymat {
  position: relative;
  margin: auto;
  width: 95%;
  border-radius: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.FirstBox {
  background-color: green;
  grid-area: green;
}

.SecondBox {
  background-color: red;
  grid-area: red;
}

.ThirdBox {
  background-color: yellow;
  grid-area: yellow;
}

@media (orientation: portrait) {
  .playerPlaymat {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 0.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    max-height: 100vh;
  }
  .playerBoard {
    grid-template-rows:
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95);
    grid-template-columns:
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95) 1fr
      calc(var(--card-size) * 0.95) calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95) 1fr calc(var(--card-size) * 0.95)
      calc(var(--card-size) * 0.95);
    gap: calc(1dvw * 0.95);
    padding: calc(1dvw * 0.95);
    grid-template-areas:
      'head permanents permanents permanents permanents permanents permanents permanents graveyard'
      'chest arms . weaponl hero weaponr . pitch deck'
      'legs . . . arsenal arsenal . zonecounts banish';
  }
}
