.devTool {
  grid-column: 1 / span 3;
  margin: 1em auto;
  margin-bottom: -2.5em;
  max-width: 1080px;
  border: 1px solid var(--theme-border, rgba(255, 255, 255, 0.2));
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
}
