.passTurnDisplay {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
  padding: 0;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.passTurnDisplayActive {
  font-size: 2em;
  line-height: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 7vh;
  height: 7dvh;
  padding: 0;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.passTurnDisplayActive:hover {
  font-size: 2.2em;
  cursor: pointer;
}

.subThing {
  font-size: 0.5em;
  padding: 0;
}

.modal {
  z-index: 1000;
}

.preventButtons {
  width: 70%;
  margin-left: 15%;
}