.card {
  position: absolute;
  border-radius: 10px;
  object-fit: contain;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  overflow: visible;
}

.normalSize {
  height: 10dvh;
  width: 10dvh;
}

.biggerSize {
  height: 12dvh;
  width: 12dvh;
}

.floatTint {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  border-radius: 10px;
}

.text {
  color: black;
}

.img {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  box-shadow: 3px 3px 5px black;
  position: relative;
  left: 0px;
  top: 0px;
  object-fit: contain;
  height: 100%;
  border-radius: 10px;
}

.disabled {
  background-color: black;
  opacity: 0.5;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.isBroken {
  background-image: url('../../../img/symbols/symbol-brokenEquip.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1.5vh -0.5vh;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

.onChain {
  background-image: url('../../../img/symbols/symbol-onChain.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -5vh;
}

.isFrozen {
  background-image: url('../../../img/elements/frozenOverlay.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.border3 {
  border-color: goldenrod;
  border-style: solid;
  margin: -3px -5px -3px -2px;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px goldenrod;
}

.border6 {
  border-color: greenyellow;
  border-style: solid;
  margin: -3px -5px -3px -2px;
  border-radius: 15px;
  box-shadow: 0 0 3px 3px greenyellow;
}

.border7 {
  border-color: purple;
  border-style: solid;
  margin: -3px -5px -3px -2px;
  border-radius: 15px;
  box-shadow: 0 0 5px 5px purple;
}