.activeEffects {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

.textOpp {
  font-size: 0.9em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 2vh;
}

.textPlayer {
  font-size: 0.9em;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 2vh;
}

.isOpponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.isPlayer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 50%;
  max-height: 50%;
  overflow-y: auto;
  overflow-x: hidden;
}

.img {
  flex-shrink: 0;
  border: 1px solid var(--theme-secondary);
  width: 90%;
}

@media (orientation: portrait) {
  .textOpp {
    font-size: 0.9em;
    width: 100%;
    margin-top: 5em;
    margin-bottom: 1em;
    height: 2vh;
  }

  .textPlayer {
    font-size: 0.9em;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    height: 2vh;
  }
}