.handZone {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 14vh;
  height: 14vh;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.handZone div {
  max-height: 14dvh;
  max-width: 14dvh;
}

.isPlayer {
  align-self: flex-start;
}

.isOpponent {
  align-self: flex-end;
}
