.health {
  position: relative;
  text-shadow: 0 0 10px rgb(0, 255, 38);
  height: 9vh;
  height: 9dvh;
  font-size: 2em;
  display: flex;
  align-items: center;
}

.manualMode {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: -15px;
  bottom: 0px;
  z-index: 999;
  right: -50px;
}

.drawButton {
  padding: 2px 10px;
  margin: 0;
}
