.health {
  position: relative;
  text-shadow: 0 0 10px rgb(0, 255, 38);
  height: auto;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 0;
  margin: 0;
}

.drawButton {
  padding: 2px 10px;
  margin: 0;
  border: 2px solid var(--near-black);
}

@media (orientation: portrait) {
  .health {
    font-size: 1.8em;
  }
}