.popUp {
  position: absolute;
  top: 0px;
  z-index: 2000;
  height: 50vh;
  background-color: white;
  border: 2px black solid;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.onRight {
  right: 0px;
}

.onLeft {
  left: 0px;
}

.img {
  height: 50vh;
}

.popUpInside {
  z-index: 111;
}
