.card {
  position: absolute;
  padding: 0fr;
  height: 110px;
  width: 110px;
  object-fit: contain;
  filter: drop-shadow(0.1rem 0.1rem 0.1rem black);
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  object-fit: contain;
  width: 110px;
  height: 110px;
  border-radius: 5%;
}
