.currentAttack {
  width: 20vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vh;
}

.attDefRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3vh;
  gap: 1vh;
}

.attDiv {
  text-align: right;
  width: 50%;
}

.defDiv {
  text-align: left;
  width: 50%;
}

.attackSymbol {
  height: 3vh;
}

.chainSymbols {
  height: 3vh;
}

.chainLinkSymbol {
  height: 2.5vh;
}

.reactions {
  height: 13vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.chainLinksRow {
  background-image: url('../../img/elements/gold-chain.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1vh;
  align-items: center;
  height: 3vh;
  width: 100%;
}

.chainLinkSummary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 1vh;
  padding-right: 1vh;
  gap: 1vh;
  height: 100%;
}
