.playerName {
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
  padding-left: 1vh;
  border-radius: 10px;
  background-color: #8e101d;
  display: flex;
  left: 0px;
  align-self: flex-start;
  height: 5vh;
  color: goldenrod;
  width: 20vw;
  align-items: center;
  justify-content: flex-start;
}
